<div class="flexContainer centeredStart">
    <div class="gridHolder">
        <div class="card">
            <div class="title">Signal with shared Object (C2C) </div>
            <div class="body">
                <app-signal-obj></app-signal-obj>
                <app-receive-obj></app-receive-obj> 
            </div>
        </div>
        <div class="card">
            <div class="title">Signal with array control (C2C)</div>
            <div class="body">
                <app-send-sarray></app-send-sarray>
                <app-receive-sarray></app-receive-sarray>
            </div>
        </div>
        <div class="card">
            <div class="title">Signal View Control (C2C)</div>
            <div class="body">
                <app-view-control></app-view-control>
                <app-view-update></app-view-update>
            </div>
        </div>
        <div class="card">
            <div class="title">Signal View Control (C2C)</div>
            <div class="body">
                <app-signal-http></app-signal-http>
                <app-signal-http-view></app-signal-http-view>
            </div>
        </div>
        <div class="card">
            <div class="title">Signal Login [{{logged() ? "Logged In" : "Logged Out"}}]</div>
            <div class="body">
                <button style="width: 100%;" (click)="login()" *ngIf="!loggedIn()">Login</button>
                <button style="width: 100%;" (click)="logout()" *ngIf="loggedIn()">Logout</button>
            </div>
        </div>
    </div>
</div> 