html, body
{
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: brown;
}

$border-radius: .6rem;

@mixin flex($iscolumn : false, $gap: 0)
{
    display: flex;
    gap: $gap;
    align-items: stretch;
    flex-grow: 4;

    @if $iscolumn
    {
        flex-direction: column;
    }
}

.inst-container 
{
    font-size: 15pt;
    background: brown;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "navigation navigation navigation navigation"
    "body       body       body       body"
    "footer     footer     footer     footer"
    "mobilenav  mobilenav  mobilenav  mobilenav";

    //#region [Navigation]
    .inst-navigation
    {
        grid-area: navigation;
        background: blue;
        color: white;
        padding: 1.2rem;
        position: sticky;
        top: 0;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-logo
        {
            &::after{ content: "PCMenu"; }
        }
        .nav-links
        {
            grid-area: links;
        }
    }
    //#endregion

    //#region [Body]
    .inst-body-container
    {
        grid-area: body;
        background: green;
        // border: 1px solid aqua;
        // padding: 1rem;
        padding: 0;
        
        //#region [Properties] structure
        .inst-properties-container
        {
            padding: .4rem;
            display: grid;
            grid-template-areas: 
            "properties properties properties properties map map";
            grid-template-columns: repeat(6, 1fr);
            gap: .4rem;
            height: fit-content;
            
            .inst-properties
            {
                grid-area: properties;

                .properties-container
                {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: .8rem;

                    .property
                    {
                        padding: .6rem;
                        background: yellowgreen;
                    }
                }
            }
            .inst-properties-map
            {
                grid-area: map;
                height: fit-content;
                position: sticky;
                top: 60px;
                background: purple;
            }
        }
        //#endregion
        //#region [Property Page] structure
        .inst-property-container
        {
            margin: 0 auto;
            width: 1400px;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "carousel carousel  carousel"
            "body     body      sidebar";

            .property-carousel
            {
                grid-area: carousel;
                background: transparent;
                padding: .4rem;
                border-radius: $border-radius;
            }

            .property-body
            {
                grid-area: body;
                padding: .4rem;
                background: transparent;
                
                @include flex(true, .6rem);
            }

            .property-sidebar
            {
                grid-area: sidebar;
                background: transparent;
                padding: .4rem;
                height: fit-content;
                position: sticky;
                top: 57px;
                
                @include flex(true, .6rem);
            }
        }
        //#endregion
    }
    //#endregion

    //#region [Footer]
    .inst-footer
    {
        grid-area: footer;
        background: yellowgreen;
        color: white;
        padding: 1.2rem;
    }
    //#endregion
}
@media(max-width: 1200px)
{
    .inst-container
    {

        .inst-body-container
        {
            .inst-properties-container
            {
                grid-template-areas: 
                "map        map"
                "properties properties";
                grid-template-columns: repeat(2, 1fr);
                .inst-properties
                {
                    .properties-container
                    {
                        grid-template-columns: repeat(2, 1fr);

                        .property
                        {
                            padding: .6rem;
                            background: yellowgreen;
                        }
                    }
                }
            }
        }

        
        
    }
}
@media(max-width: 800px)
{
    .item.carousel
    {
        height: 35rem;
        background: red;
    }

    .inst-container
    {
        .inst-navigation
        {
            grid-area: mobilenav;
            bottom: 0;

            .nav-logo
            {
                &::after{ content: "MobileMenu"; }
            }
        }

        .inst-body-container
        {
            .inst-property-container
            {
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                "carousel carousel"
                "body body"
                "sidebar  sidebar";

                .property-sidebar
                {
                    position: unset;
                    top:0;
                }
            }

            .inst-properties-container
            {
                grid-template-areas: 
                "map"
                "properties";
                grid-template-columns: 1fr;
                background: red;

                .inst-properties-map
                {
                    grid-area: map;
                    height: fit-content;
                    position: sticky;
                    top: 0;
                }

                .inst-properties
                {
                    .properties-container
                    {
                        grid-template-columns: repeat(1, 1fr);

                        .property
                        {
                            padding: .6rem;
                            background: yellowgreen;
                        }
                    }
                }
            }
        }

        
        
    }

    
}
