<div class="testingAreaContainer">
  <div class="testingRow">
    <app-signal-obj></app-signal-obj>
    <app-receive-obj></app-receive-obj> 
  </div>
  <div class="testingRow">
    <app-send-sarray></app-send-sarray>
    <app-receive-sarray></app-receive-sarray>
  </div>
  <div class="testingRow"> 
    <app-view-control></app-view-control>
    <app-view-update></app-view-update>
  </div>
  <div class="testingRow"> 
    <app-signal-http></app-signal-http>
    <app-signal-http-view></app-signal-http-view>
  </div>
</div>