$padGap: .6rem;

.testingAreaContainer
{
    display: grid;
    width: 100%; height: 100%;
    gap: 2rem;
    align-content: center;
    justify-content: center;

    & .testingRow
    {
        display: flex;
        gap: calc($padGap + 1rem);
        align-items: center;       
    }
}
